.toolbar {
  height: 0rem;
}

.title {
  margin-top: 1rem;
  margin-bottom: 1rem; 
  font-weight: bold;
  margin: 1rem 0 1rem 0 ;
  font-family: "Bebas Neue";
  font-size: 50px;
  letter-spacing: 0.06em;
  color: black;
}
.title1 {
  padding-top: 1rem;
  margin-bottom: 1rem; 
  font-weight: bold;
  margin: 1rem 0 1rem 0 ;
  font-family: "Bebas Neue";
  font-size: 50px;
  letter-spacing: 0.06em;
  color: black;
}
.cart-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

.cart-details-subtotal {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cart-details-buttons {
  display: flex;
  justify-content: flex-end;
}

.emptyButton {
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 0.8rem;
  min-width: 120px;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f3194c;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: solid 2px;
  border-color: #f3194c;
}

.emptyButton:hover {
  background-color: #fff;
  color: #f3194c;
  border-color: #f3194c;
}

.checkoutButton {
  padding: 0.8rem;
  text-decoration: none;
  min-width: 120px;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #92ce52 ;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: solid 2px;
  border-color: #92ce52;
}

.checkoutButton:hover {
  border-color: #92ce52;
  background-color: #fff;
    color: #92ce52;
}
.evemail {
  margin-bottom: 2rem;
}