.toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}

.content {
  flex-grow: 1;
  background-color: #fafafa;
  padding: 1rem;
}

.root {
  flex-grow: 1;
}
