.toolbar {
  height: 56px;
  display: flex;
  align-items: center;
  background-color: #3f51b5;
  color: #fff;
  padding: 0 16px;
}

.appBar {
  position: relative;
}

.layout {
  margin-top: 5%;
  width: auto;
  margin-left: 2%;
  margin-right: 2%;
}

@media (min-width: 602px) {
  .layout {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.form {
  margin-left: 70%;
  margin-right: 10%;
}

.paper {
  padding: 3% 1%;
  width: 20%;
  margin: 1% auto;
}

.header {
  margin: 0;
}

.avatar {
  background: #9DCC6C;
}

.button {
  background: #9DCC6C;
}
