.cardsl {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardimagehome img {
  max-height: 50%;
  max-width: 100%;
  border-radius: 8px 8px 0px 0;
  object-fit: cover;
}

.cardactionpro {
  position: relative;
  float: right;
  margin-top: -25px;
  margin-right: 20px;
  z-index: 2;
}
.cardactionpro button {
  color: #92ce52;
  background: #fff;
  border-radius: 100%;
  padding: 1rem;
  font-size: 15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  transition: background-color 0.3s ease;
}

.cardactionpro button:hover {
  color: #fff;
  background: #92ce52;
}

.cardactionpro button:hover svg {
  fill: #fff;
}

.cardactionpro button svg {
  fill: #92ce52;
  width: 30px; 
  height: 30px;
}

.cardheading {
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  white-space: 'nowrap',
}

.cardtext {
   -webkit-line-clamp: 4;
  padding: 10px 15px;
  font-size: 14px;
  color: #636262;
}
.cardcontent {
  height: 11rem;
  overflow: hidden;
}