.cardsl {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardimage img {
  /*height: '0';
  padding-Top: '56.25%';
  margin-Top:'30';*/
  max-height: 50%;
  max-width: 100%;
  border-radius: 8px 8px 0px 0;
}


.cardaction {
  position: relative;
  float: right;
  margin-top: -25px;
  margin-right: 20px;
  z-index: 2;
  color: #6FBF7B;
  background: #fff;
  border-radius: 100%;
  padding: 15px;
  font-size: 15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.cardaction:hover {
  color: #fff;
  background: #6FBF7B;
  --webkit-animation: pulse 1.5s infinite;
}

.cardheading {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  white-space: 'nowrap',
}

.cardtext {
  padding: 10px 15px;
  
  font-size: 14px;
  color: #636262;
}
