.user-profile {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 6rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.user-profile__input {
  width: 100%;
  margin-bottom: 20px;
  z-index: 0;
}

.user-profile_button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;

}

.user-profile_button {
padding: 0.8rem;
min-width: 120px;
font-size: 1.2rem;
font-weight: 700;
text-transform: uppercase;
background-color: #92ce52;
color: #fff;
border-radius: 4px;
cursor: pointer;
transition: all 0.3s ease-in-out;
border-color: #92ce52 ;
}
.user-profile_button:hover {
  background-color: #fff;
  color: #92ce52;
  border-color: #92ce52;
}
#cancel{
  background-color: #f3194c;
  color:  #fff;
  border-color: #f3194c ;
}
#cancel:hover{
  background-color: #fff;
  color:  #f3194c;
  border-color: #f3194c ;
}
.headerup {
  margin-top: 1rem;
  margin-bottom: 1rem; 
  font-weight: bolder;
  font-size: 40px;
}

.btn-modal{

  padding-bottom: 1rem;
  background: transparent;
  border: 0;
  cursor: pointer;

 }
 .btn-modal:hover {
  text-decoration:underline
 }
 .modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}

.modal-content {
  text-align: justify;
  text-indent: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background-color: #f1f1f1;
  padding: 2rem;
  border-radius: 3px;
  max-width: 90%;
  min-width: 300px;
  display: block;
}

@media only screen and (max-width: 768px) {
  .modal-content {
    padding: 1rem;
    min-width: 250px;
  }
}

@media only screen and (max-width: 480px) {
  .modal-content {
    padding: 0.5rem;
    min-width: 200px;
  }
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
