.appBar {
  position: relative;
}

.layout {
  margin-top: 5%;
  width: auto;
  margin-left: 2%;
  margin-right: 2%;
}

.paper {
  padding: 2%;
  height: 70vh;
  width: 280px;
  margin: 2% auto;
}

.buttonLogin {
  background-color: red ;
  color: black;
  border: 2px solid #4CAF50;
}