.cardsl1 {
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  margin-bottom: 15px;
  width: 100%;
  max-width: 350px;
  height: 100%;
  min-width: 250px;
  -webkit-box-shadow: 0px 0px 29px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 29px -14px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 29px -14px rgba(0,0,0,0.75);
  margin-top: 20px;
}
.card {
  display: block;
}
.cardimage {
  max-width: 100%;
  width: 350px;
  height: 100%;
  object-fit: cover;
}

.card-heading {
  margin: 12px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: black;
}

.card-text {
  margin: 12px 0;
  font-size: 1.5rem;
  color: black;
}

.cardaction {
  max-width: 100%;
  display: flex;
  padding: 0 12px 12px;
  align-items: center;    
}
.cardaction Typography {
  justify-content: flex-start;
  
}  
.cardaction button {
  max-width: 100%;
  justify-content: flex-end;
  min-width: 120px;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f3194c;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: 3rem;
  border: solid 2px;
  border-color: #f3194c;  
}

.cardaction button:hover {
  background-color: #fff;
  color: #f3194c;
  border-color: #f3194c;
}
#quantity {
  position: relative;
  display: table-row;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}
@media (max-width: 768px) {
  .cardsl1 {
    width: 100%;
  }


  .cardaction {
    flex-direction: column;
    align-items: flex-start;
  }

  .cardaction button {
    margin-top: 1rem;
    margin-left: 0;
  }
}
